[class ^="container"]{
  border: 1px solid black;
  background-color: red;
}

[class ^="col"]{
  border: 1px solid black;
  background-color: aqua;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
}

:root{
  --my-primary: #2c3e50;
  --my-light-primary: #3A546D;
  --my-green: #1ABC9C;
  --my-shadow-green: #1abc9cc5;
  --my-black: #333333;
}

.my-text-primary{
  color: var(--my-primary);
}

.my-text-balck{
  color: var(--my-black);
}

.my-pt-fixed{
  padding-top: 80px;
}

.my-bg-green{
  background-color: var(--my-green);
}

.my-fs-h1{
  font-size: 4.5rem;
}

.my-fs-h2{
  font-size: 3.5rem;
}

.my-fs-p{
  font-size: 1.2rem;
}

.my-pb{
  padding-bottom: 4.5rem;
}

.my-trat{
  height: 0;
  border: 3px solid #2C3E50;
  border-radius: 6px;
}

.my-bg-green .my-trat{
  border-color: white;
}

.my-container{
  width: 60%;
  background-color: violet;
  margin: 0 auto;
}

.my-card img{
  border-radius: 15px;
}

.my-hover-card{
  position: absolute;
  z-index: 998;
  font-size: 6rem;
  background-color: var(--my-shadow-green);
  border-radius: 15px;
  display: none;
  cursor: pointer;
}

.my-card:hover .my-hover-card{
  display: flex;
}

.my_form input,
.my_form textarea {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.my_form input:focus,
.my_form textarea:focus {
  box-shadow: none;
}

.my_form input::placeholder,
.my_form textarea::placeholder {
  color: #2b3d4f;
  
} 

.my_button {
  background-color: #1abc9c;
  border: none;
}

.my_button:hover {
  background-color: #137964;
}

header{
  height: 90px;background-color: var(--my-primary);
  z-index: 999;
}

@media screen and (max-width:1200px){
  .my-fs-h1{
    font-size: 3.5rem;
  }

  .my-fs-h2{
    font-size: 3rem;
  }
}

@media screen and (max-width:991px){
  .my-fs-h1{
    font-size: 2.5rem;
  }

  .my-fs-h2{
    font-size: 2rem;
  }
}

@media screen and (max-width:768px){
  .my-fs-h1{
    font-size: 2.0rem;
  }

  .my-fs-h2{
    font-size: 1.5rem;
  }

  .my-fs-jumbo{
    font-size: 1.2rem !important;
  }
}

@media screen and (max-width:576px){
  .my-fs-header{
    font-size: 1.2rem !important;
  }
}