[class ^="container"]{
  background-color: red;
  border: 1px solid black;
}

[class ^="col"]{
  border: 1px solid black;
  background-color: aqua;
}

.my-pt-fixed{
  padding-top: 80px;
}

header{
  height: 80px;
}

.jumbotron{
  height: 800px;
}

.my-first-section{
  height: 1000px;
}

.my-h-15{
  height: 15%;
}